[submodule "frontend"]
	path = frontend
	url = https://github.com/PeerlessMonster/MovieWebsite-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/PeerlessMonster/MovieWebsite-backend
